h3 {
    color: white;
    padding: 10px 15px; 
}
.navbar-dark .navbar-nav .nav-link {
    color: white; 
    font-weight: bold; 
    padding: 10px 15px; 
    transition: color 0.3s, background-color 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: limegreen;
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-nav .nav-link:visited {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:active {
    color: limegreen;
}

/* Estilo para o container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Adicione esta linha */
    color: #00ff00;
    font-family: 'Courier New', monospace;
    padding: 20px; /* Adicione um pouco de espaço interno */
}
/* Estilo para o rodapé */
footer {
    background-color: #1e1e1e; /* Fundo escuro */
    color: white; /* Texto branco */
    text-align: center;
    padding: 20px 0; /* Espaçamento interno */
    border-top: 2px solid #00ff00; /* Borda superior verde */
    font-family: 'Arial', sans-serif;
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
}

/* Container do conteúdo do rodapé */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo para o texto de direitos reservados */
.footer-content p {
    margin: 0;
    font-size: 0.9em;
    color: #cccccc; /* Texto cinza claro */
}

/* Estilo para os links do rodapé */
.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #00ff00; /* Texto verde */
    text-decoration: none;
    font-size: 0.9em;
    margin: 0 10px;
    transition: color 0.3s ease; /* Transição suave de cor */
}

.footer-links a:hover {
    color: #ffffff; /* Texto branco ao passar o mouse */
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}
#campo-do-texto {
	align-items: center;
}